In [1]:
myset = set()

In [2]:
myset

set()

In [3]:
myset.add(1)

In [4]:
myset

{1}

In [5]:
myset.add(2)

In [6]:
myset

{1, 2}

In [9]:
myset.add(2)             #  ONLY UNIQUE VALUES, IF VALUE IS ALREADY IN THERE IT WONT REPEAT IT

In [10]:
myset

{1, 2}

In [11]:
mylist = [1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,3,3]

In [13]:
set(mylist)       # Usable in this matter, to find all unique values

{1, 2, 3}