In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [5]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [6]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [7]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [8]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [9]:
len(mylist)

4

In [10]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [12]:
for (a,b) in mylist:          # Tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [13]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [14]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [15]:
for a,b,c in mylist:
    print(a)

1
5
8

In [16]:
d = {'k1':1,'k2':2,'k3':3}

In [17]:
for item in d:
    print(item)

k1
k2
k3

In [18]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [19]:
for key, value in d.items():
    print(value)

1
2
3