In [2]:
def square(num):
    return num ** 2

In [3]:
my_nums = [1,2,3,4,5]

In [4]:
map(square, my_nums)  # MAPS SQUARE FUNCTION TO EVERY ITEM IN MY_NUMS

In [5]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [6]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [7]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [8]:
names = ['Andy', 'Eve', 'Sally']

In [9]:
list(map(splicer, names))

['EVEN', 'E', 'S']

In [10]:
def check_even(num):
    return num % 2 == 0

In [11]:
mynums = [1,2,3,4,5,6]

In [12]:
filter(check_even, mynums)

In [13]:
list(filter(check_even, mynums))

[2, 4, 6]

In [14]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

In [15]:
def square(num):
    result = num ** 2
    return result

In [16]:
square(3)

9

In [17]:
def square(num):
    return num ** 2

In [18]:
square(3)

9

In [19]:
def square(num): return num ** 2

In [20]:
square(3)

9

In [21]:
square = lambda num : num ** 2

In [22]:
square(5)

25

In [23]:
list(map(lambda num:num ** 2, mynums))

[1, 4, 9, 16, 25, 36]

In [24]:
list(filter(lambda num:num%2 == 0,mynums))

[2, 4, 6]

In [25]:
names

['Andy', 'Eve', 'Sally']

In [26]:
list(map(lambda name:name[0], names))

['A', 'E', 'S']

In [27]:
list(map(lambda name:name[::-1], names))

['ydnA', 'evE', 'yllaS']